
.example-leave-setup, .example-enter-setup {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s;
  -ms-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s;
}
 
.example-animate-container {
  position:relative;
  height:100px;
}
 
.example-animate-container > * {
  display:block;
  width:100%;
  border-left:1px solid black;
 
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}
 
.example-enter-setup {
  left:100%;
}
.example-enter-setup.example-enter-start {
  left:0;
}
 
.example-leave-setup { }
.example-leave-setup.example-leave-start {
  left:-100%;
}