<div ng-switch on="loginInfo.loggedIn">
	<div ng-switch-when="true" class="span12">
		<h2>Hallo {{loginInfo.user.firstname}}</h2>
		<p>Hier siehst du alle deine Buchungen</p>
	</div>
	<div ng-switch-default class="span12">
		<p>Bitte logge dich ein um deine Buchungen zu sehen</p>
	</div>
</div>
<div class="span12">
	<div class="media pull-left" style="margin-top:15px; margin-right: 15px;" ng-show="loginInfo.loggedIn === 'true'" ng-repeat="booking in bookings">
		<div class="media-body">
		    <h4 class="media-heading"> {{cars[booking.rentalcar_id].make}} - {{cars[booking.rentalcar_id].model}}</h4>
		    <p>
			    	<b>Von:  {{booking.dateFrom}}, Bis: {{booking.dateTo}}</b><br>
			    	<b>Preis: {{booking.currency}} {{booking.price.result | number:2}} / {{booking.days}} Tage</b>
		    </p>
		    <button class="btn btn-danger" ng-click="deleteBooking(booking.id)">Löschen</button>
	  	</div>
	</div>
</div>
