<div class="span3 offset1">
  <h3>Mietwägen für Station:</h3>
  <h4>{{location.name}}</h4>
	<address>
	  {{location.adress}}<br>
	  {{location.zip}} {{location.city}}<br>
	  <abbr title="Phone">P:</abbr> {{location.phone}}<br>
	  <a href="mailto:{{location.mail}}">{{location.mail}}</a><br>
	  Öffunungszeiten: {{location.hours}}
	</address>
	<div ng-switch on="module">
		<button ng-switch-when="admin" class="btn btn-primary" ng-click="newCar()">Mietwagen hinzufügen</button>
	</div>
</div>
<div class="span7 offset1">
	<div class="media" ng-repeat="car in cars">
	  <div class="media-body">
	    <h4 class="media-heading" ng-switch on="module">
	    	<a ng-switch-when="admin" href="#/admin/{{location.id}}/car/{{car.id.split('/')[2]}}">{{car.make}} - {{car.model}}</a>
	    	<span ng-switch-when="rent">{{car.make}} - {{car.model}}</span>
	    </h4>
	    <p>
	    	<b>Preis:  {{car.currency}} {{car.price}} / Tag </b><br>
	    	Baujahr: {{car.year}}, {{car.ps}} PS

	    </p>
	    <div ng-switch on="module">
	    	<button ng-switch-when="admin" class="btn btn-danger" ng-click="deleteCar(car.id, location.id)">Löschen</button>
	    	<a ng-switch-when="rent" href="#/rent/{{location.id}}/car/{{car.id.split('/')[2]}}/book" class="btn btn-primary">Buchen</a>
	    </div>
	  </div>
	</div>
</div>