<div class="span5 offset1">
  <h3>Stationen</h3>
<div class="media"  ng-repeat="location in locations | filter:query | orderBy:orderProp">

  <div class="media-body">
    <h4 class="media-heading"> 
      <a href="#/{{module}}/{{location.id}}">{{location.name}}</a>
    </h4>
    <address>
      {{location.adress}}<br>
      {{location.zip}} {{location.city}}<br>
      <abbr title="Phone">P:</abbr> {{location.phone}}<br>
      <a href="mailto:{{location.mail}}">{{location.mail}}</a><br>
      Öffunungszeiten: {{location.hours}}
    </address>
  </div>
</div>
</div>
<div class="span6">
  <google-map center="center" draggable="true" zoom="zoom" markers="markers" style="display:block; height: 400px; width:500px;" fit="true">
  </google-map>
  
<h3>Stationen Suche</h3>
<div class="control-group">
  <label class="control-label" for="location-search">Suche</label>
  <div class="controls">
    <input type="text" id="location-search" name="location-search" ng-model="query" placeholder="Suche" /> 
  </div>
</div>
<div class="control-group">

  <label class="control-label" for="location-sort">Sortieren</label>
  <div class="controls">
    <select id="location-sort" name="location-sort" ng-model="orderProp">
        <option value="name">Alphabetisch</option>
        <option value="zip">PLZ</option>
      </select>
  </div>
</div>
</div>
