<!--
  this.string('make', { required: true });
  this.string('model', { required: true });
  this.number('year');
  this.number('ps');
  this.number('price', { required: true });
  this.string('currency', { required: true });
-->

<form name="editCar" ng-submit="submit()" class="form-horizontal">
  <fieldset>
    <div class="span11 offset1">
      <legend>Auto anlegen/bearbeiten</legend>
    </div>
    <div class="span5 offset1">
      <div class="control-group">
        <label class="control-label" for="car-make">Marke</label>
        <div class="controls">
          <input type="text" id="car-make" name="make" ng-model="car.make" placeholder="Marke" required /> 
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="car-model">Modell</label>
        <div class="controls">
          <input type="text" id="car-model" name="model" ng-model="car.model" placeholder="Modell" required /> 
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="car-year">Baujahr</label>
        <div class="controls">
          <input type="text" id="car-year" name="year" ng-model="car.year" placeholder="Baujahr" /> 
        </div>
      </div>
    </div>
    <div class="span5">
      <div class="control-group">
        <label class="control-label" for="car-price">Preis/Tag</label>
        <div class="controls">
          <input type="text" id="car-price" name="price" ng-model="car.price" placeholder="Preis" required /> 
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="car-currency">Währung</label>
        <div class="controls">
          <input type="text" id="car-currency" name="currency" ng-model="car.currency" placeholder="Währung" required /> 
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="car-ps">PS</label>
        <div class="controls">
          <input type="text" id="car-ps" name="ps" ng-model="car.ps" placeholder="PS"  /> 
        </div>
      </div>
    </div>
    <div class="span11 offset1">
      <div class="control-group">
        <div class="controls">
          <button class="btn btn-primary" type="submit" id="submitEditCar">
            Speichern
          </button>
          <button class="btn" ng-click="cancel()" id="cancelEditCar">
            Abbrechen
          </button>
        </div>
      </div>
    </div>
  </fieldset>
</form>
