<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="favicon.ico" rel="shortcut icon">
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <!--<link rel="stylesheet" href="css/style.css">-->
  <title>Car Rental</title>
  <script type="text/javascript" 
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAsUlMrEmuClf078BxSWWEdvk889dKM8QY&sensor=false">
  </script>
  
  <script src="js/lib/angular.js"></script>
  <script type="text/javascript" src="js/lib/angular-google-maps.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="js/lib/angular-resource.js"></script>
  <script src="js/lib/angular-cookies.js"></script>
  <script src="js/lib/bootstrap/ui-bootstrap-0.2.0.js"></script>
  <script src="js/lib/bootstrap/ui-bootstrap-tpls-0.2.0.js"></script>

  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body ng-app="carRental">

    <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="MainCtrl">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#" >Rent-A-Car</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
               <li ng-repeat="item in navItems" ng-class="item.active">
                  <a  href="{{item.url}}">{{item.name}}</a>
               </li>
            </ul>
            <div ng-switch on="loginInfo.loggedIn" >
              <div class="pull-right" ng-switch-when="true">
                <p class="navbar-text pull-left" style="padding-right: 10px">Du bist eingelogged als {{loginInfo.user.firstname}}</p>
                <button type="button" class="btn btn-small pull-right" ng-click="logout()">Abmelden</button>
              </div>
              <form class="navbar-form pull-right" ng-submit="login()" ng-switch-default>
                <input class="span2" type="text" placeholder="Email" ng-model="loginEmail">
                <input class="span2" type="password" placeholder="Password" ng-model="loginPassword">
                <button type="submit" class="btn">Anmelden</button>
              </form>
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container" >

      <div class="hero-unit" ng-controller="MainCtrl" >
        <div ng-include src="template"></div>
      </div>
      <div class="row" ng-view>
      </div>

      <hr>

      <footer>
        <p>&copy; Rent-A-Car 2013</p>
      </footer>

    </div> <!-- /container -->

  </body>

<body>
 
</html>